Unity/Fire/Temp
Unity/Fire/Library
Unity/Fire/obj
Unity/Fire/*.sln
Unity/Fire/*.csproj

Unity/Play_Shadow/Temp
Unity/Play_Shadow/Library
Unity/Play_Shadow/obj
Unity/Play_Shadow/*.sln
Unity/Play_Shadow/*.csproj
